body {
    margin: 0;
    font-family: Trebuchet MS, sans-serif;
    background-color: #ffffff;
    color: #482e1d;
}
    
main {
    margin-bottom: 20px;
    padding: 10px;
    margin: 20px;
}

header{
    padding: 10px;
    background:#273219;
    color: #ffffff;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background: #273219;
    color: #ffffff;
    text-align: right;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

a:link {
    color: rgb(3, 64, 21);
    text-decoration: none; 
}
a:hover {
    color: rgb(26, 227, 26);
    text-decoration: none; 
}
a:active {
    color: rgb(12, 179, 98); 
    text-decoration: none;
}
a:visited {
    color: rgb(45, 122, 72); 
    text-decoration: none;
}

div {
    margin: 10px
}

.error {
    color:red;
    font-weight: bold;
}

div.menu {
    background-color: rgb(238, 220, 255);
    box-shadow: 5px 5px 15px rgba(75, 75, 75, 0.568);
    border-radius: 20px;
    width: 400px;
    margin: 50px auto;
    padding: 10px;
    text-align: center;
    line-height: 22px;
}
div.menu:hover {
    background-color: rgba(216, 221, 252, 0.808);
}
.list {
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(75, 75, 75, 0.568);
    width: 500px;
    margin: 30px auto;
    padding: 30px;
    line-height: 22px;
}

img {
    width: 250px;
    height: 320px;
}

.block2 {
    display: flex;
    padding:  15px;
    margin: 5px;
    background-color: #003c18;
    border-radius: 5px;
    text-align: center;
}

.block {
    display: inline-block;
    padding:  15px;
    margin: 5px;
    background-color: #003c18;
    border-radius: 5px;
    text-align: center;
}

a.block {
    color: white;
}
.block-container{
    background-color: #05b13e;
    padding: 30px;
    text-align: center;
}

button {
    margin-left: 15px;
    padding: 8px; 
    background-color: white; 
    border: 2px solid rgb(1, 37, 1); 
    color:  rgb(1, 37, 1); 
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
}

button:hover {
    background-color: rgb(109, 238, 10); 
}

#office-list {
    list-style: none;
    padding: 0; 
}

#office-list li {
    margin-bottom: 15px; 
}

#total-cost {
    margin-top: 20px; 
    color: rgb(1, 38, 1);
}

.responsive-image{
    width: 500px;
    display: block;
     margin: 0 auto;
}